<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>buyer name <%=@buyer.first_name %> <%=@buyer.last_name %></h4>
    <h4>buyer mail <%=@buyer.email %> </h4>
      <h4>seller mobile  <%=@buyer.mobile %> </h4>
    <h4>seller name <%=@seller.first_name %> <%=@buyer.last_name %></h4>
    <h4> seller mail <%=@seller.email %> </h4>
        <h4>seller mobile  <%=@seller.mobile %> </h4>
        <h2>Property details </h2>
        <h4>property_type <%=@property.property_type %> </h4>
        <h4>address <%= @property.address %> </h4>
        <h4>city <% @property.city %> </h4>
        <h4>price <%= @property.price %> </h4>
        <h4>Property Type <%= @property.property_type %> </h4>
    
   <h5>Conform</h5>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>